.HeaderBody{
    position: absolute;
    top: 0%;
    left: 15%;
    width: 85%;
    background: white;
    height: 8%;
    box-shadow: 0px 5px 5px rgb(185, 184, 184);
}
.HeaderTitle{
    margin: 5px;
    font-size: 1.3rem;
    padding-left: 5%;
    padding-top: 1%;
    width: 30%;
}
.NextBtn{
    position: absolute;
    right: 2%;
    top: 25%;
    width: 10%;
    color: white;
    border-style: none;
    font-size: 1.5rem;
    border-radius: 4px;
}
.red{
    background: rgb(247, 106, 106);
    cursor: not-allowed;
}
.blue{
    background: rgb(106, 167, 247);
}
.PrevBtn{
    position: absolute;
    right: 15%;
    top: 25%;
    width: 10%;
    border-style: none;
    background: #f9fdbe;
    font-size: 1.5rem;
    border-radius: 4px;
}